In [7]:
import pandas_datareader as pdr
import datetime as dt

In [8]:
web = pdr.data

In [9]:
start, end = dt.datetime(1920, 1, 1), dt.datetime(2013, 12, 31)

In [11]:
web.DataReader('IBM','yahoo', start, end).reset_index()

,Date,High,Low,Open,Close,Volume,Adj Close
0,1962-01-02,7.713333,7.626667,7.713333,7.626667,387200.0,0.618153
1,1962-01-03,7.693333,7.626667,7.626667,7.693333,288000.0,0.623556
2,1962-01-04,7.693333,7.613333,7.693333,7.616667,256000.0,0.617343
3,1962-01-05,7.606667,7.453333,7.606667,7.466667,363200.0,0.605185
4,1962-01-08,7.460000,7.266667,7.460000,7.326667,544000.0,0.593837
...,...,...,...,...,...,...,...
13085,2013-12-24,183.500000,181.910004,181.960007,183.220001,1613600.0,142.652817
13086,2013-12-26,185.559998,183.509995,183.559998,185.350006,3325700.0,144.311218
13087,2013-12-27,186.500000,184.559998,185.839996,185.080002,3381600.0,144.101013
13088,2013-12-30,186.699997,184.669998,185.320007,186.410004,3018600.0,145.136520
13089,2013-12-31,187.789993,186.300003,186.490005,187.570007,3619700.0,146.039658

In [13]:
web.DataReader('DJIA','yahoo', start, end)

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
1921-01-03,72.669998,72.669998,72.669998,72.669998,0,72.669998
1921-01-04,72.760002,72.760002,72.760002,72.760002,0,72.760002
1921-01-05,73.129997,73.129997,73.129997,73.129997,0,73.129997
1921-01-06,74.309998,74.309998,74.309998,74.309998,0,74.309998
1921-01-07,75.209999,75.209999,75.209999,75.209999,0,75.209999
...,...,...,...,...,...,...
2013-12-24,16392.400391,16264.719727,16295.700195,16357.549805,1307630000,16357.549805
2013-12-26,16507.240234,16358.000000,16370.969727,16479.880859,1982270000,16479.880859
2013-12-27,16564.619141,16425.039062,16486.369141,16478.410156,2052920000,16478.410156
2013-12-30,16560.019531,16412.710938,16484.509766,16504.289062,2293860000,16504.289062
2013-12-31,16611.210938,16469.789062,16512.380859,16576.660156,2312840000,16576.660156